In [2]:
import pandas as pd
import xlwings as xw

In [3]:
ruta = r"C:\Users\mferrera\Desktop\ws\2m Sales Records.csv"
datos1=pd.read_csv(ruta)
datos1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138,5/23/2011,4300,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377,8/1/2018,4145,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166,7/17/2011,6407,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836,5/11/2011,2810,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212,12/29/2013,2110,9.33,6.92,19686.30,14601.20,5085.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,Sub-Saharan Africa,Djibouti,Cosmetics,Online,L,5/19/2016,138297116,6/1/2016,4045,437.20,263.33,1768474.00,1065169.85,703304.15
1999996,Europe,Armenia,Snacks,Offline,H,4/19/2014,546858489,5/28/2014,6434,152.58,97.44,981699.72,626928.96,354770.76
1999997,Central America and the Caribbean,Dominica,Vegetables,Offline,M,10/19/2014,991853272,12/3/2014,279,154.06,90.93,42982.74,25369.47,17613.27
1999998,Sub-Saharan Africa,Kenya,Office Supplies,Online,C,2/6/2010,288955295,2/7/2010,7148,651.21,524.96,4654849.08,3752414.08,902435.00
1999999,Sub-Saharan Africa,Tanzania,Snacks,Offline,M,4/23/2015,474150884,6/8/2015,638,152.58,97.44,97346.04,62166.72,35179.32

In [6]:
datos3=xw.load()

In [7]:
datos3

      Ventas
Pais
A      334.0
B      433.0
A      111.0
C       33.0